<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BetaGo X-o-Bot</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='frontend/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='frontend/css/betago.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index')}}">BetaGo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sign_up')}}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_login')}}">Knowledge</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white" style="background-image: url('../static/frontend/img/home.png')">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0" style="color:#000000;">X-o-Bot</h1>
        <h2 class="masthead-subheading mb-0" style="color:#000000;">A Generic Dialog Framework for Conversational Agents</h2>
        <a href="#about" class="btn btn-primary btn-xl rounded-pill mt-5">About Us</a>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../static/frontend/img/image1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Course & Program Information Search</h2>
            <p>UNSW students are able to converse with the chatbot to obtain information regarding courses and programs.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../static/frontend/img/image2.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Recommender System, Search and Weather Tool</h2>
            <p>A content based recommender system is utilised in the chatbot system to allow course suggestions for the student based on a preferred subject. The system further functions as a search engine and weather tool should the user desire.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../static/frontend/img/image3.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Knowledge Based Query</h2>
            <p>The chatbot is equipped to understand the underlying meaning of the questions which makes it an excellent teaching assistant. An application of this is demonstrated through the Machine Learning course where students may ask questions regarding content of the course and tutors may add knowledge based content into the chatbots database.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

<section>
    <img src="../static/frontend/img/about.png" alt="Meet the team behind BetaGo" id="about" style="width:100%;height:100%;object-fit:cover">
  </section>



  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      	<p class="m-0 text-center text-white small">Copyright &copy; BetaGo 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
