<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BetaGo Input Knowledge Base</title>

  <!-- other -->
  <!-- Font Icon -->
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
  <!-- Main css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/know.css')}}">
</head>

<body>
  <!-- login -->
  <!-- Sing in  Form -->
  <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='frontend/img/knowledge.png')}}" alt="knowledge base stormtrooper lego image"></figure>
                        <a href="{{ url_for('index')}}" style="color:black; margin-left:120px;">Home</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Input Knowledge Base Info</h2>
                        <form action="{{ url_for('knowledge_base') }}" method="POST">
                          <div class="form-group">
                                <label for="keyword"></label>
                                <p><input name="keyword" placeholder="keyword" type="keyword"></p>
                            </div>
                          <div class="form-group">
                                <label for="description"></label>
                                <p><input name="description" placeholder="description" type="description"></p>
                            </div>
                          <div class="form-group">
                                <label for="advantage"></label>
                                <p><input name="advantage" placeholder="advantage" type="advantage"></p>
                            </div>
                          <div class="form-group">
                                <label for="disadvantage"></label>
                                <p><input name="disadvantage" placeholder="disadvantage" type="disadvantage"></p>
                            </div>
                          <div class="form-group">
                                <label for="example"></label>
                                <p><input name="example" placeholder="example" type="example"></p>
                            </div>
                          <div class="form-group form-button">
                                <input type="submit" name="submit" class="form-submit" value="submit" style="padding-left:0px;"/>
                            </div>          

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='frontend/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='frontend/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='frontend/js/clean-blog.min.js')}}"></script>

</body>

</html>
